#mp_screen {
	overflow: hidden;
}

#canvas_render {
	position: fixed;
	top: 0;
	left: 0;
	image-rendering: pixelated;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	cursor:
		url("/img/cursor.png") 12 12,
		auto;

	background: repeating-conic-gradient(#fafafa 0 25%, #fff 0 50%) 50% / 20px
		20px;
}
