.glass {
  background-color: rgba(80, 80, 80, 0.85);
  backdrop-filter: blur(50px);
}

.glass_border_bottom {
  border-bottom: 2px solid rgba(0,0,0,0.3);
}

.glass_border_right {
  border-right: 2px solid rgba(0,0,0,0.3);
}