$accent-color: rgb(34, 173, 195);
$highlight-color: rgb(108, 225, 235);

.panel_appearance {
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(24px);
	border: 2px solid #fff;
	backdrop-filter: blur(16px);
}

.panel {
	@extend .panel_appearance;
	border-radius: 12px;
	padding: 4px;
}

.panel2 {
	@extend .panel;
	border-radius: 8px;
}

.mp_outset {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.1),
		rgba(255, 255, 255, 0.1)
	);
	border-top: 2px solid hsla(0, 0%, 100%, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.mp_inset {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.05),
		rgba(0, 0, 0, 0.2)
	);
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.1);
	border-top: 2px solid hsla(0, 0%, 0%, 0.1);
	box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.5);
}
