@import "./globals.scss";

@font-face {
	font-family: "font";
	src: url("public/Comfortaa-VariableFont_wght.ttf");
}

body {
	margin: 0;
	font-family: "font";
	font-weight: 900;
	color: #fff;
	user-select: none;
	-webkit-user-select: none;
}

img {
	pointer-events: none;
}

.text_input_title {
	margin-left: -0.5cm;
	margin-right: 0.25cm;
	padding-right: 0.25cm;
	height: 100%;
	width: 4cm;
	overflow: hidden;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: right;
	border-radius: 0.5cm 0 0 0.25cm;
}

.text_input_label {
	font-style: italic;
	color: $accent-color;
	font-size: 0.75em;
	margin-top: 0.1cm;
	user-select: none;
}

.text_input_bg {
	padding: 0.15cm;
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	border: 0;
	border-radius: 0.5cm 0.25cm 0.5cm 0.25cm;
	background-color: #fff;
	display: flex;
	align-items: center;
	font-size: 0.75em;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.text_input_labeled_bg {
	@extend .text_input_bg;
	margin-left: 0.5cm;
	padding: unset;
	padding-left: 0.5cm;
	padding-right: 0.5cm;
	padding-left: 0;
	border-radius: 0 0.25cm 0.5cm 0;
	border: unset;
	font-size: 1.25em;
	height: 1.5cm;
}

.text_input {
	appearance: none;
	border: 0;
	font-size: inherit;
	color: black;
	font-weight: 500;
	width: 100%;
	outline: none;
	font-size: 1.25em;
}

.text_input_labeled {
	@extend .text_input;
	font-size: unset;
	color: $accent-color;
}

::selection {
	background-color: $accent-color;
	color: #fff;
}

.text_tiny {
	font-size: 0.75em;
}

.text_small {
	font-size: 0.85em;
}

.text_big {
	font-size: 1.25em;
}

.button {
	border-radius: 0.5cm 0.25cm 0.5cm 0.25cm;
	background-color: rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3cm;
	padding-left: 0.5cm;
	padding-right: 0.5cm;
	font-weight: 900;
	font-size: 1.25em;
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	height: 1.5cm;
	border: 2px solid white;
}

.button:hover {
	background-color: white;
	color: $accent-color;
}

.button:active {
	background-color: white;
	color: $accent-color;
	transform: translateY(2px);
}

.button_tool {
	border-radius: 18px 8px;
	width: 48px;
	height: 48px;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	cursor: pointer;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.button_tool_highlighted {
	border: solid 2px rgba(0, 0, 0, 0.5);
	background-color: $accent-color;
}

.button_tool:hover {
	background-color: $highlight-color;
}

@keyframes tool_click {
	0% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.button_tool:active {
	background-color: $highlight-color;
	animation-name: tool_click;
	animation-duration: 0.2s;
}

.icon {
	width: 100%;
	height: 100%;
	color: black;
	user-select: none;
}

.cursor_pos {
	display: flex;
	font-family: monospace;
	text-wrap: nowrap;
	line-height: 100%;
	font-size: 0.8em;
	opacity: 0.5;
}

@keyframes tooltip_showup {
	0% {
		transform: scaleX(0) scaleY(0.5);
		opacity: 0;
	}
	100% {
		transform: scaleX(1) scaleY(1);
		opacity: 1;
	}
}

.tooltip {
	position: absolute;
	z-index: 10;
	border-radius: 0px 12px 24px 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	backdrop-filter: blur(24px);
	background-color: rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.2);
	text-wrap: nowrap;
	min-height: 36px;

	animation-name: tooltip_showup;
	animation-duration: 0.15s;
	transform-origin: 0% 50%;
}

.slider_line {
	height: 12px;
	position: absolute;
	width: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	transform: rotate(10deg); // this looks cool
}

.slider_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.slider {
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.slider_value {
	position: absolute;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	color: #fff;
	left: 0;
	transform: translateX(-50%);
	text-shadow: 1px 1px black;
}

.slider_bar {
	width: 100%;
	height: 10px;
	border-radius: 16px;
	border: 2px solid rgb(0, 0, 0);
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
}

.slider_filling {
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: $accent-color;
	border-radius: 16px 0px 0px 16px;
	border: 2px solid rgb(0, 0, 0);
	top: -2px;
	left: -2px;
}

.slider_handle {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	top: 5px;
	left: -2px;
	box-sizing: border-box;
	background-color: $accent-color;
	border: 2px solid black;
	box-shadow: 0px 1px 3px black;
}
