@use "globals.scss";

.color_palette {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.cs_rows {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.row {
	display: flex;
	gap: 2px;
}

.cell,
.control {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	user-select: none;
	outline: 1px solid rgba(0, 0, 0, 0.4);
}

.control {
	background-color: rgb(220, 220, 220);
	color: #333;
	cursor: pointer;
}

.cs_buttons_pair {
	display: flex;
	flex-direction: row;
	margin-top: 4px;
}

.cs_buttons {
	@extend .mp_outset;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	border-radius: 4px;
}

.cs_button {
	@extend .mp_outset;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.cs_button:hover {
	background-color: white;
	border-color: white;
}

.cell_selected {
	transform: scale(1.5);
	outline: 2px solid black;
}

.cell_small {
	width: 16px;
}

.tool_settings_parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
	padding-left: 12px;
	padding-right: 12px;
}
