@use "globals.scss";

.color_palette {
	@extend .panel2;
	padding: 8px;
}

.row {
	display: flex;
}

.cell,
.control {
	width: 24px;
	height: 16px;
	user-select: none;
	outline: 1px solid rgba(0, 0, 0, 0.4);
}

.control {
	width: 16px;
	height: 20px;
	background-color: rgb(220, 220, 220);
	color: #333;
	margin-left: 2px;
	margin-top: 2px;
	padding-left: 2px;
	cursor: pointer;
}

.cs_buttons_pair {
	display: flex;
	flex-direction: row;
	margin-top: 4px;
}

.cs_buttons {
	@extend .panel_appearance;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
}

.cs_button {
	@extend .panel_appearance;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.cs_button:hover {
	background-color: white;
	border-color: white;
}

.cell_selected {
	border-bottom: 4px solid black;
	outline: 2px solid white;
	height: 12px;
	outline-offset: -2px;
}

.cell_small {
	width: 10px;
}

.tool_settings_parent {
	@extend .panel2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
	padding-left: 12px;
	padding-right: 12px;
}
