@use "../../globals.scss";

.background {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #000;
	background-image: url("../../assets/background.webp");
	background-size: cover;
	background-position: center;
}

.content_box {
	padding: 24px;
	border-radius: 16px;
	background-color: rgba(50, 80, 100, 0.5);
	backdrop-filter: blur(32px);
	height: fit-content;
	display: flex;
	gap: 16px;
	flex-direction: column;

	@extend .mp_outset;
}

.title_text {
	font-size: 32px;
}
.title_text_under {
	font-size: 16px;
}

.logo {
	background-image: url("../../assets/logo.svg");
	width: 80px;
	height: 80px;
	background-size: contain;
}

.version {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 8px;
	font-size: 0.9em;
	text-align: right;
	line-height: 150%;
}
