#body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #0080FF;
}

.login_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login_input {
	display: flex;
	padding: 0.3cm;
	background-color: rgb(0, 200, 255);
	width: min-content;
	flex-direction: row;
}

.login_input_text {
	border: 1px solid black;
	border-right: 0;
	background-color: #FFF;
	font-size: 0.5cm;
	font-weight: 100;
}

.login_input_button {
	border: 1px solid black;
	background-color: #FFF;
	font-size: 0.5cm;
	font-weight: 100;
}

.login_credits, .login_desc {
	color: #FFF;
	text-shadow: 1px 1px black;
}

.login_desc {
	font-size: 14px;
	margin-bottom: 0.5cm;
}

.login_credits {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	margin-bottom: 0.5cm;
	margin-right: 0.5cm;
	font-size: 12px;
	line-height: 150%;
}