#body {
	margin: 0;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#brush-size {
	position: relative;
	overflow: hidden;
	float: left;
}

#brush-size:hover {
	overflow: visible;
}

#logo {
	position: absolute;
	top: 30%;
	width: 20%;
	left: 35%;
	border-color: floralwhite;
	border-radius: 5rem;
	padding: 5%;
	background-color: floralwhite;
}